body{
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    margin: 0;
}
.coloured-text{
    color: rgb(103, 185, 20);
}
.border-line{
    border-left: 3px solid ;
    border-image: linear-gradient(yellow, rgb(26, 197, 54));
    border-image-slice: 1;
    padding-left: 15px;
    height: 110px;
   
}
h1{
    font-size: 40px;
    line-height: 40px;
}
h2{
    margin-bottom: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.half{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 88px;
}
.half img{
    width: 80%;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient(yellow, rgb(240, 123, 27));
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}
#first-half{
    margin-top: 120px;

}
.head-of-body{
    text-align: center;
}
#body-first{
    background-color: rgb(150, 180, 236);
}
#body-second{
    
    background-color: rgb(235, 139, 158);
}
#body-third{
    background-color: rgb(193, 236, 129);
}
.body-container{
    margin-left: 2%;
    margin-right: 2%;
    width: 33%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 30px;
    border-radius: 10px;
}
.body-container img{
    width: 40%;
}
#body-merge{
    margin-left: 10%;
    margin-right: 10%;
}
.dividable img{
    width: 400px;
    margin-left: 39%;
    margin-right: 10%;
}
.dividable-text{
    margin-left: 15%;
    margin-right: 10%;
}
.develop{
    background-image: url(images/shapes/shape-1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 30px;

}
.global-text{
    margin-left: 11%;
    margin-right: 40px;
}
.global-pic{
    
    margin-right: 150px;
    padding-left: 0px;

}
.global-community{
    background-image: url(images/shapes/shape-3.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 1060px;
    

}
.extra-pic{
    margin-left: 11%;
    margin-right: 10px;
}
.extra-text{
    margin-right: 10%;
    margin-left: 15px;
}
.extra-text p{
    font-size:medium ;
}
.extra{
    background-image: url(images/shapes/shape-6.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 30px;
    background-position: left;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
}
#footer-head{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}