body{
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    margin: 0;
}
.coloured-text{
    color: rgb(124, 224, 24);
}
.border-line{
    border-left: 4px solid rgb(124, 224, 24) ;
    padding-left: 10px;
    border-image-slice:0 0 0 7;
    border-image-width:12px 12px 12px 12px;
    line-height:40px;    
    border-radius: 5px;  
}
h1{
    font-size: 50px;
    text-align: left;   
}
.head-of-body{
    margin-bottom: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.half{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 88px;
}
.half img{
    width: 80%;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(220, 241, 25), rgb(231, 113, 16));
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}
#first-half{
    margin-top: 120px;

}
.head-of-body{
    text-align: center;
}
#body-first{
    background-color: rgb(181, 203, 243);
}
#body-second{
    
    background-color: rgb(230, 169, 182);
}
#body-third{
    background-color: rgb(207, 233, 168);
}
.body-container{
    margin-left: 2%;
    margin-right: 2%;
    justify-content: space-between;
    height: 300px;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 10px;
    border-radius: 10px;
}
.body-container img{
    width: 40%;
}
#body-merge{
    margin-left: 10%;
    margin-right: 10%;
}
.dividable img{
    width: 400px;
    margin-left: 39%;
    margin-right: 10%;
}
.dividable-text{
    margin-left: 15%;
    margin-right: 10%;
}
.develop{
    background-image: url(images/shapes/shape-1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 30px;

}
.global-text{
    margin-left: 11%;
    margin-right: 40px;
}
.global-pic{
    
    margin-right: 150px;
    padding-left: 0px;

}
.global-community{
    background-image: url(images/shapes/shape-3.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 1060px;
    

}
.extra-pic{
    margin-left: 11%;
    margin-right: 10px;
}
.extra-text{
    margin-right: 10%;
    margin-left: 15px;
}
.extra-text p{
    font-size:medium ;
}
.extra{
    background-image: url(images/shapes/shape-6.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-position-x: 30px;
    background-position: left;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    

}
#footer-head{
    
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#year{
    color: rgb(248, 15, 61);
}